<div class="ui hidden divider"></div>
<a href="{{ path('glevents_admin_saml_login') }}" class="ui fluid button" style="color:white; background: #10324b">
    <i class="shield alternate icon"></i>
    {{ 'saml_auth.ui.log_by_sso'|trans }}
</a>